development:
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: 5
  port: 5432
  host: 127.0.0.1
  database: test
  username: root
  password: 

test:
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: 5
  port: 5432
  host: 127.0.0.1
  database: test
  username: root
  password: 

production:
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: 5
  port: 5432
  host: 127.0.0.1
  database: test
  username: root
  password: 
