<div class="container m-top footer_wrap">
	<div id="footer">
		<!-- 2013 © Resellers App. Freshdesk -->
		<span>Resellers App</span>
		<ul>
			<li><a href="" class="fui-facebook"></a></li>
			<li><a href="" class="fui-twitter"></a></li>
			<li><a href="">Support</a></li>
		</ul>
	</div>
</div>